<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.OEMarket.mapper.UserKeyWordMapper">

	<sql id="UserKeyWord">
		"keyword",
		"user_no", 
		"write_date", 
		"modifier", 
		"modify_date"
	</sql>
	
	<insert id="insertUserKeyWord" parameterType="UserKeyWordDTO">
		INSERT INTO "USER_KEYWORD" (
			<include refid="UserKeyWord" />
		)
		VALUES(
			#{keyword}, 
			#{userNo}, 
			SYSDATE, 
			NULL, 
			NULL
		)
	</insert>
	

	<select id = "selectUserKeyWordList" resultType = "UserKeyWordDTO" parameterType="UserKeyWordDTO">
		SELECT
			<include refid="UserKeyWord" />
		FROM
			"USER_KEYWORD"
		WHRER
			user_no = #{UserNo}
	</select>
	
	



	
	
	
</mapper>