<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>


<h1>회원 가입</h1>
<hr>

<form action="/member/signup" method="post">
    <table>
        <tr>
            <th>
                <label for="email"> 이메일 </label>
            </th>
            <td>
                <input type="email" id="email" name="email">
                <button class="emailCheck" type="button" id="emailCheck" onclick="fn_emailCheck();" value="N"> 중복확인 </button>
            </td>
        </tr>
        <tr>
            <th>
                <label> 비밀번호 </label>
            </th>
            <td>
                <input type="password" name="password">
            </td>
        </tr>
        <tr>
            <th>
                <label> 이름 </label>
            </th>
            <td>
                <input type="text" name="name" >
            </td>
        </tr>
        <tr>
            <th>
                <label> 닉네임 </label>
            </th>
            <td>
                <input type="text" id="nickName" name="nickName">
                <button class="nickCheck" type="button" id="nickCheck" onclick="fn_nickCheck();" value="N"> 중복확인 </button>
            </td>
        </tr>
        <tr>
            <th>
                <label> 휴대폰 번호 </label>
            </th>
            <td>
                <input type="text" id="phone" name="phone">
                <button class="phoneCheck" type="button" id="phoneCheck" onclick="fn_phoneCheck();" value="N"> 중복확인 </button>
            </td>
        </tr>
        <tr>
            <th>
                <label> 성별 </label>
            </th>
            <td>
                <select type="text" name="gender" placeholder="성별">
                    <option>-- 선택 --</option>
                    <option>남성</option>
                    <option>여성</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">가입하기</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>