.boardListCss  {
	text-decoration:none;
	color: black;
}

.boardViewUrl , .boardViewUrl:hover   {
	text-decoration:none;
	color:white;
}

.boardViewContent {
	height: 20em;
}

.reportedButton {
	display: block;
}

.viewSubject {
	text-align: center;
}