<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 내비게이션 : https://getbootstrap.com/docs/5.1/components/navs-tabs/ -->
<nav th:fragment="nav">
	<ul class="nav justify-content-center">
		<li class="nav-item"><a class="nav-link active"
			aria-current="page" href="#">디지털/가전</a></li>
		<li class="nav-item"><a class="nav-link" href="#">패션/잡화</a></li>
		<li class="nav-item"><a class="nav-link" href="#">스포츠</a></li>
		<li class="nav-item"><a class="nav-link" href="#">뷰티/미용</a></li>
		<li class="nav-item"><a class="nav-link" href="#">도서</a></li>
		<li class="nav-item"><a class="nav-link" href="#">티켓</a></li>
		<li class="nav-item"><a class="nav-link" href="#">가구/인테리어</a></li>

	</ul>
	<br>
</nav>
</html>